* {
    box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url(../Fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #d4e4f6; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px; 
    flex-wrap: wrap; 
    padding: 20px;
}

.login-main-title {
    width: 100%;          
    font-family: myFont;
    text-align: center;   
    font-size: 125px;    
    font-weight: 900;  
    letter-spacing: 4px; 
    color: #333;
    margin: 0 0;   
    border-bottom: none;  
    padding: 5px;
}


#login-Box, #Register-Box {
    background-color: #ffffff;
    padding: 35px;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 360px; 
}


h1 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    text-align: center;
    margin:0 0;
}


h3 {
    margin: 0;
    font-size: 13px;
    color: #758fac; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Inmatningsfälten */
input[type="text"],
input[type="password"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
}


input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #99b8db;
}


button {
    padding: 12px 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background-color: #99b8db; 
    color: #ffffff;
    transition: background-color 0.2s, transform 0.1s;
    width: 100%; 
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


button:hover {
    background-color: #758fac;
}


button:active {
    transform: scale(0.98);
}
#postOutfit-form {
    max-width: 300px; 
    margin: 0 auto;   
    padding: 30px;  
}